.co-admin button {
  outline: none;
  padding: 9px 18px;
  background-color: dimgray;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  font-size: 13px;
  height: 34px;
  align-self: start;
}

.co-admin button > img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.co-admin button > img.small {
  width: 14px;
  height: 14px;
}

.co-admin button > img.big {
  width: 19px;
  height: 19px;
}

.co-admin button.outline {
  padding: 7.5px 16.5px;
  background-color: white;
  border: solid 2px rgba(105, 105, 105, .3);
  color: dimgray;
}

.co-admin button.clean {
  background-color: transparent;
  color: darkslategrey;
  padding-left: 0;
  padding-right: 0;
}

.co-admin button.normal {
  background-color: darkgoldenrod;
  color: white;
}
