@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: .88em;
}

table.t1 {
  width: 100%;
}
table.t1 > thead {
  white-space: nowrap;
}
table.t1 > thead > tr {
  padding: 4px 10px;
}
table.t1 > thead > tr > th {
  padding: 4px 10px;
  background-color: #3F84F122;
  text-align: left;
}
table.t1 > thead > tr > th {
  border-right: solid 1px #DDD;
}
table.t1 > thead > tr > th:last-child {
  border-right: none;
}
table.t1 > tbody > tr {
  border-top: solid 1px #CCC;
}
table.t1 > tbody > tr > td {
  padding: 4px 10px;
  border-right: solid 1px #DDD;
}
table.t1 > tbody > tr.filter > td {
  padding: 4px 4px;
}
table.t1 > tbody > tr > td:last-child {
  border-right: none;
}
table.t1 > tbody > tr:nth-child(even) {
  background-color: #FAFAFA;
}
table.t1 > tbody > tr:hover {
  background-color: #F0F0F0;
}
