.co-admin input:not([type="checkbox"]), select {
  outline: none;
  padding: 0px 12px;
  background-color: transparent;
  border: solid 2px rgba(105, 105, 105, .2);
  border-radius: 6px;
  height: 34px;
  box-sizing: border-box;
  font-size: 13px;
  transition: 250ms;
}

.co-admin input:not([type="checkbox"]):focus {
  border: solid 2px rgba(105, 105, 105, .5);
}

.co-admin .input-img-container {
  display: flex;
  align-items: center;
  position: relative;
}

.co-admin .input-img-container img {
  position: absolute;
  margin-left: 12px;
  width: 17px;
  height: 17px;
}

.co-admin .input-img-container img + input {
  padding-left: 36px;
  width: 100%;
}

.co-admin .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.co-admin .input-container > label {
  font-size: 13px;
  color: dimgray;
  font-weight: 600;
}

.co-admin .form-container > .row > .input-container {
  flex: 1;
}
