.co-admin .meta-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.co-admin .meta-action .title {
  font-size: 18px;
}

.co-admin .meta-action .actions {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
