.co-admin .form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px;
  border: solid 2px rgba(200, 200, 200, .55);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.co-admin .form-container .buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.co-admin .form-container .title {
  font-size: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 600;
}

.co-admin .form-container .subtitle {
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.co-admin .form-container .subsubtitle {
  font-size: 16px;
  padding-bottom: 1px;
  padding-top: 1px;
  color: #555;
}

.co-admin .form-container .row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.co-admin .form-container .row > .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
}

.co-admin .form-container .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #FFF9;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: gainsboro #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: goldenrod #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}
